@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.gaming-button {
  font-family: 'Press Start 2P', cursive;
  background-color: #19e607c2; 

  color: #FFFFFF; 
  border: 2px solid #FFD700; 
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 90px; 
  cursor: pointer;
  text-shadow: 2px 2px #000000; 
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 0 #FFD700; 
  /* margin-top: 1rem; */
}

@media screen and (max-width: 767px) {
  .gaming-button {
    font-size: 12px;
    padding: 10px 10px; 
  }
}

.gaming-button:hover {
  background-color: #006400; 
  color: #FFD700; 
}

.content {
  font-family: 'Press Start 2P', cursive;
}
